@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

body{
  font-family: 'Patrick Hand', cursive;
  background-color: rgb(209, 224, 253);
}
.App {
  text-align: center;
}

h1{
  font-size: 44px;
  color: rgb(129, 10, 81);
}

img{
  width: 1200px;
  height: 600px;
}

